### Temporary yaml loader

In [1]:
import yaml
def load_yaml(path):
    with open(path, mode='r') as file:
        return yaml.load(file, Loader=yaml.FullLoader)
    
config = load_yaml('extra/dataextractor.yaml')

In [2]:
config

### IMPORTS

In [3]:
%run dataProcessing.ipynb

Downloading all available 1d data for BTCUSDT. Be patient..!
All caught up..!
Downloading all available 1d data for BTCUSDT. Be patient..!
All caught up..!

## STEP 1: Import data

In [4]:
df = get_data(config)

crypt
Downloading all available 1d data for BTCUSDT. Be patient..!
All caught up..!

In [5]:
df.head(5)

,Open,High,Low,Close,Volume,Label
Date,,,,,,
2017-08-17,4261.48000000,4485.39000000,4200.74000000,4285.08000000,795.15037700,4108.37000000
2017-08-18,4285.08000000,4371.52000000,3938.77000000,4108.37000000,1199.88826400,4139.98000000
2017-08-19,4108.37000000,4184.69000000,3850.00000000,4139.98000000,381.30976300,4086.29000000
2017-08-20,4120.98000000,4211.08000000,4032.62000000,4086.29000000,467.08302200,4016.00000000
2017-08-21,4069.13000000,4119.62000000,3911.79000000,4016.00000000,691.74306000,4040.00000000

## STEP 2: Create features

In [6]:
df

,Open,High,Low,Close,Volume,Label
Date,,,,,,
2017-08-17,4261.48000000,4485.39000000,4200.74000000,4285.08000000,795.15037700,4108.37000000
2017-08-18,4285.08000000,4371.52000000,3938.77000000,4108.37000000,1199.88826400,4139.98000000
2017-08-19,4108.37000000,4184.69000000,3850.00000000,4139.98000000,381.30976300,4086.29000000
2017-08-20,4120.98000000,4211.08000000,4032.62000000,4086.29000000,467.08302200,4016.00000000
2017-08-21,4069.13000000,4119.62000000,3911.79000000,4016.00000000,691.74306000,4040.00000000
2017-08-22,4016.00000000,4104.82000000,3400.00000000,4040.00000000,966.68485800,4114.01000000
2017-08-23,4040.00000000,4265.80000000,4013.89000000,4114.01000000,1001.13656500,4316.01000000
2017-08-24,4147.00000000,4371.68000000,4085.01000000,4316.01000000,787.41875300,4280.68000000
2017-08-25,4316.01000000,4453.91000000,4247.48000000,4280.68000000,573.61274000,4337.44000000
2017-08-26,4280.71000000,4367.00000000,4212.41000000,4337.44000000,228.10806800,4310.01000000
2017-08-27,4332.51000000,4400.00000000,4285.54000000,4310.01000000,350.69258500,4386.69000000
2017-08-28,4310.01000000,4399.82000000,4124.54000000,4386.69000000,603.84161600,4587.48000000
2017-08-29,4353.65000000,4625.85000000,4313.55000000,4587.48000000,603.54502800,4555.14000000
2017-08-30,4564.52000000,4647.51000000,4416.01000000,4555.14000000,808.46877100,4724.89000000
2017-08-31,4555.14000000,4745.42000000,4555.14000000,4724.89000000,556.95680200,4834.91000000
2017-09-01,4689.89000000,4885.55000000,4654.88000000,4834.91000000,560.66636600,4472.14000000
2017-09-02,4796.16000000,4939.19000000,4286.87000000,4472.14000000,929.14859500,4509.08000000
2017-09-03,4508.50000000,4714.76000000,4298.33000000,4509.08000000,691.21619800,4100.11000000
2017-09-04,4505.00000000,4527.49000000,3972.51000000,4100.11000000,1394.64461400,4366.47000000
2017-09-05,4106.97000000,4484.99000000,3603.00000000,4366.47000000,1228.93815700,4619.77000000
2017-09-06,4366.49000000,4662.87000000,4335.26000000,4619.77000000,807.36372600,4691.61000000
2017-09-07,4619.77000000,4788.59000000,4438.19000000,4691.61000000,500.42997500,4282.80000000
2017-09-08,4691.66000000,4735.39000000,4028.93000000,4282.80000000,1132.25504600,4258.81000000
2017-09-09,4282.80000000,4426.62000000,4150.06000000,4258.81000000,658.78295200,4130.37000000
2017-09-10,4258.81000000,4283.00000000,3801.00000000,4130.37000000,660.37327500,4208.47000000
2017-09-11,4153.62000000,4334.43000000,4098.91000000,4208.47000000,699.98906500,4163.72000000
2017-09-12,4208.60000000,4394.59000000,4040.80000000,4163.72000000,879.63031900,3944.69000000
2017-09-13,4159.72000000,4165.38000000,3760.00000000,3944.69000000,913.46254500,3189.02000000
2017-09-14,3944.00000000,3993.00000000,3165.13000000,3189.02000000,1665.02154300,3700.00000000
2017-09-15,3188.01000000,3856.00000000,2817.00000000,3700.00000000,1968.86649200,3714.95000000
...,...,...,...,...,...,...
2020-08-31,11711.17000000,11800.77000000,11570.00000000,11649.51000000,55353.61774400,11921.97000000
2020-09-01,11649.51000000,12050.85000000,11515.00000000,11921.97000000,78148.19366800,11388.54000000
2020-09-02,11921.97000000,11954.57000000,11160.10000000,11388.54000000,87221.84560200,10140.85000000
2020-09-03,11388.54000000,11462.60000000,9960.80000000,10140.85000000,121950.10601500,10446.25000000
2020-09-04,10138.29000000,10627.05000000,9875.50000000,10446.25000000,92733.59911300,10166.69000000
2020-09-05,10446.25000000,10565.68000000,9825.00000000,10166.69000000,90001.60556800,10256.20000000
2020-09-06,10166.69000000,10347.14000000,9994.86000000,10256.20000000,56368.78881500,10373.44000000
2020-09-07,10255.89000000,10410.75000000,9875.00000000,10373.44000000,62620.23067600,10126.65000000
2020-09-08,10373.45000000,10438.00000000,9850.00000000,10126.65000000,73491.87841800,10219.20000000
2020-09-09,10126.66000000,10343.00000000,9981.01000000,10219.20000000,49347.11377600,10336.87000000
2020-09-10,10219.29000000,10483.35000000,10070.83000000,10336.87000000,58253.75375000,10387.89000000
2020-09-11,10336.86000000,10397.60000000,10200.00000000,10387.89000000,43830.25446700,10440.92000000
2020-09-12,10387.89000000,10477.97000000,10269.25000000,10440.92000000,35379.15309600,10332.83000000
2020-09-13,10440.67000000,10580.11000000,10200.00000000,10332.83000000,43837.60986500,10671.77000000
2020-09-14,10332.84000000,10750.00000000,10212.34000000,10671.77000000,67059.29136100,10785.31000000
2020-09-15,10671.77000000,10930.04000000,10606.48000000,10785.31000000,61822.45278600,10954.01000000
2020-09-16,10785.23000000,11093.00000000,10661.22000000,10954.01000000,64991.51244000,10939.99000000
2020-09-17,10954.01000000,11045.46000000,10745.83000000,10939.99000000,55601.61452900,10933.39000000
2020-09-18,10940.00000000,11038.03000000,10812.84000000,10933.39000000,47266.72827500,11080.65000000
2020-09-19,10933.40000000,11179.79000000,10887.37000000,11080.65000000,38440.03685800,10920.28000000
2020-09-20,11080.64000000,11080.64000000,10723.00000000,10920.28000000,39157.92256500,10417.22000000
2020-09-21,10920.28000000,10988.86000000,10296.35000000,10417.22000000,70683.43117900,10529.61000000
2020-09-22,10417.22000000,10572.71000000,10353.00000000,10529.61000000,43991.23547600,10241.46000000
2020-09-23,10529.61000000,10537.15000000,10136.82000000,10241.46000000,51876.56807900,10736.32000000
2020-09-24,10241.46000000,10795.24000000,10190.93000000,10736.32000000,57676.61942700,10686.67000000
2020-09-25,10736.33000000,10760.53000000,10556.24000000,10686.67000000,48101.11700800,10728.60000000
2020-09-26,10686.57000000,10820.94000000,10644.68000000,10728.60000000,28420.83665900,10774.25000000
2020-09-27,10728.59000000,10799.00000000,10594.82000000,10774.25000000,30549.48325300,10696.12000000
2020-09-28,10774.26000000,10950.00000000,10626.00000000,10696.12000000,50095.25173400,10776.71000000
2020-09-29,10696.11000000,10797.00000000,10656.82000000,10776.71000000,18650.16139400,NaN