### Temporary yaml loader

In [1]:
import yaml
def load_yaml(path):
    with open(path, mode='r') as file:
        return yaml.load(file, Loader=yaml.FullLoader)
    
config = load_yaml('extra/dataextractor.yaml')

In [2]:
config

{'data': {'useYfinance': True,
  'yfinance': {'stock': 'NVDA',
   'start': datetime.date(2019, 1, 8),
   'end': datetime.date(2020, 1, 8),
   'interval': '1d'},
  'binance': {'coin': 'BTCUSDT', 'interval': '1d'}},
 'processing': {'resample': True,
  'sampling': {'time': 'D',
   'aggregate': {'Open': 'first',
    'High': 'max',
    'Low': 'min',
    'Close': 'last',
    'Volume': 'sum'}},
  'label': {'source': 'Close', 'shift': -1}},
 'features': {'window': 14,
  'type': 0,
  'filter': ['Label',
   'Open',
   'High',
   'Low',
   'Volume',
   'stocK',
   'stocD',
   'stocSD',
   'Momentum',
   'ROC',
   'LWR',
   'AOosci',
   'Disp5',
   'Disp10',
   'OSCP',
   'CCI',
   'RSI',
   'OBV',
   'MA',
   'BIAS6',
   'PSY12',
   'ASY5',
   'ASY4',
   'ASY3',
   'ASY2',
   'ASY1']}}

### IMPORTS

In [3]:
%run dataProcessing.ipynb
%run dataFeatures.ipynb

## STEP 1: Import data

In [4]:
df = get_data(config)

[*********************100%***********************]  1 of 1 completed

In [5]:
df.head(16)

,Open,High,Low,Close,Volume,Label
Date,,,,,,
2019-01-07,138.500000,144.889999,136.429993,143.399994,17729000,139.830002
2019-01-08,146.690002,146.779999,136.899994,139.830002,19650400,142.580002
2019-01-09,141.899994,144.490005,139.860001,142.580002,15431500,145.229996
2019-01-10,141.800003,145.580002,139.360001,145.229996,13078900,148.830002
2019-01-11,144.330002,149.750000,143.210007,148.830002,21869100,150.440002
2019-01-14,146.720001,151.460007,145.770004,150.440002,18254200,149.869995
2019-01-15,151.759995,153.350006,149.130005,149.869995,15425300,148.839996
2019-01-16,150.970001,152.300003,148.619995,148.839996,11752600,151.720001
2019-01-17,147.509995,153.330002,146.410004,151.720001,12335900,156.929993
2019-01-18,153.729996,157.979996,151.649994,156.929993,16283400,148.770004
2019-01-22,155.710007,156.179993,147.550003,148.770004,16538800,149.289993
2019-01-23,151.000000,154.580002,148.029999,149.289993,14775500,157.839996
2019-01-24,152.699997,158.550003,152.509995,157.839996,17724300,160.149994
2019-01-25,155.440002,160.880005,151.300003,160.149994,28864300,138.009995
2019-01-28,136.550003,141.639999,131.000000,138.009995,62788200,131.600006
2019-01-29,136.149994,138.100006,131.009995,131.600006,28848300,137.389999

## STEP 2: Create features

In [6]:
df = add_features(df, config['features'])

In [7]:
df.head()

,Label,Open,High,Low,Volume,stocK,stocD,stocSD,Momentum,ROC,...,RSI,OBV,MA,BIAS6,PSY12,ASY5,ASY4,ASY3,ASY2,ASY1
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-31,144.729996,137.259995,145.190002,136.380005,21071300,42.670676,22.021422,26.155683,-1.479996,-1.019070,...,48.256657,49040500,142.179999,-0.007183,66.7,-1.870123,-2.700879,1.358319,4.415431,4.525209
2019-02-01,149.179993,144.500000,146.789993,142.580002,15626200,45.950447,36.668886,24.769444,-4.100006,-2.754825,...,49.183378,64666700,139.095999,0.014901,75.0,-2.024819,1.188595,3.170095,2.602316,0.679423
2019-02-04,149.949997,145.369995,150.679993,144.479996,13214800,60.843339,49.821487,36.170598,-1.260010,-0.837550,...,53.275596,77881500,141.329999,0.059693,75.0,1.556549,3.134663,2.744333,1.853895,3.028367
2019-02-05,153.000000,149.660004,151.429993,148.300003,13560600,63.420327,56.738038,47.742804,0.080002,0.053381,...,53.966386,91442100,144.999997,0.050315,75.0,2.610696,2.186957,1.407540,1.771599,0.514830
2019-02-06,147.419998,151.289993,155.600006,151.070007,17561600,73.627833,65.963833,57.507786,4.160004,2.794950,...,56.697306,109003700,148.121997,0.045558,75.0,2.152287,1.559056,1.852267,1.264217,2.013604

## STEP 3: SCALE DATA